
  /* card-list */
  body {
    padding: 100px;
  }
  .cards {
    --spacing: 25px;
    --columns: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
  }
  @media screen and (max-width: 1023px) {
    .cards {
      --columns: 2;
    }
  }
  @media screen and (max-width: 767px) {
    .cards {
      --spacing: 15px;
      --columns: 1;
    }
    hr.solidz{
        width: 10%;
    }
  }
  .card-title{
      text-align:center;
  }
  hr.solidz{
    width: 5%;
    margin-top: 0.8%;
    background-color: #ff5a6e;
    border: solid 1px #ff5a6e;
  }
  .card {
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
  }
  .card-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
  .card-top {
    padding:0 20px 0 20px;
    display: flex;
    flex-direction: column;
    flex:1;
  }
  .card-bot {
    padding:0 20px 0 20px;
    display: flex;
    flex-direction: column;

  }
  .card-title-top {
    font-weight: 500;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;


  }
  .card-title-bot {
    color:#999;
    font-weight: 300;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    flex-shrink: 0;
  }
  .card:hover{
    box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
}